<h1 class="text-center">Voici ton gossip</h1>
<div class="center jumbotron">
  <p>Créé par : <%= @gossip.anonymous_gossiper %></p>
  <p>Concernant : <%= @gossip.title%></p>
  <p class="border"><%= @gossip.content%></p>
</div>
